# dependencies
node_modules/
.pnpm-store/

# build
dist/
build/
*.tsbuildinfo

# expo
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# db
pgdata/

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# test
coverage/
